/* ---- DIV ----*/

/*main*/

.header__logo {
  background: url(/assets/images/bg-header-mobile.png) no-repeat;
  height: 300px;
}

.header__buttons {
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
}

.info2__feature {
  margin-bottom: 60px;
  padding: 0 30px;
  padding: 0px 34px;
}

.features__info2 {
  margin-bottom: 200px;
}