/* ---- PGRAPHS ----*/

/* main */

.info_parag {
  text-align: center;
  padding: 0 34px;
  color: $grisClaro;
}

.infoF__pgraph {
  color: $grisClaro;
  height: 115px;
  padding: 0 32px;
}

.feauture__pgraph {
  color: $grisClaro;
}

.feauture2__pgraph {
  color: $grisClaro;
  padding: 0 32px;
}

.info2__pgraph {
  padding: 0 30px;
  color: $grisClaro;
  margin-bottom: 95px;
}

.features2_pgraph2 {
  margin-bottom: 60px;
  color: $grisClaro;
}

.download__pgraph {
  padding: 0 35px;
  color: $grisClaro;
  margin-bottom: 50px;
}
