/* ---- PGRAPHS ----*/

/* main */

.info_parag {
  text-align: center;
  padding: 0 34px;
  color: $grisClaro;
}

.infoF__pgraph {
  color: $grisClaro;
  height: 115px;
  padding: 0 32px;
}

.feauture__pgraph {
  color: $grisClaro;
}
