/* ---- TITLE ----*/

/* main */ 

.info_title {
  margin: 0px;
  font-size: $fontSize * 2;
  color: $grisOscuro;
  padding: 0 23px;
}

.infoF__title {
  padding: 0 32px;
  color: $grisOscuro;
}

.feauture__title {
  color: $grisOscuro;
}