/* ---- TITLE ----*/

/* main */ 

.info_title {
  margin: 0px;
  font-size: $fontSize * 2;
  color: $grisOscuro;
  padding: 0 23px;
}

.infoF__title {
  padding: 0 32px;
  color: $grisOscuro;
}

.feauture__title {
  color: $grisOscuro;
}

.feauture2__title {
  padding: 0 31px;
  color: $grisOscuro;
}

.info2__title {
  padding: 0 35px;
  color: $grisOscuro;
}

.features2_title2 {
  color: $grisOscuro;
  margin-top: 45px;
}